# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Docker
*.pid

# Database
*.db
*.sqlite3

# Build artifacts
dist/
build/
*.egg-info/

#node_modules
node_modules/